@page
@model ForgotPasswordConfirmation
@{
    ViewData["Name"] = "Forgot password confirmation";
}

<h1>@ViewData["Name"]</h1>
<p>
    Пожалуйста проверьте почту чтобы восстановить пароль
</p>
