@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Name"] = "Reset password confirmation";
}

<h1>@ViewData["Name"]</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста <a asp-page="./Login">Нажмите сюда чтобы залогиниться</a>.
</p>
