@model int

<div class = "container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Билеты успешно куплены</h1>
		Номер заказа: @Model <br/><br/>
		<img src="~/images/lawn_leaf.jpg" width="65%"/>
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br/>
		 <br/>
	</div>
</div>