@page
@model PersonalDataModel
@{
    ViewData["Name"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Name"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит данные которые вы передали сайту. Можете их загрузить или удалить.</p>
        <p>
            <strong>Удаление данных приведет к потере вашего аккаунта</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Загрузить</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
